.modal#modal-charge
  .modal-close
  .modal-title Mobile Charging Station
  .modal-content
    img(src='images/charging-station.jpg')
    .content
      p Feeling a little drained?
      p Stop by Cooper Hall to charge your mobile device.
      p A complementary service brought to you by our friends at Cayuse&nbsp;Technologies
      img(src='images/cayuse-technologies.png')

style.

  #modal-charge .modal-content > img {
    float: left;
    width: 25%;
    margin-right: 2%;
  }

  #modal-charge .content > img {
    max-width: 65%;
    margin-top: 4%;
  }
