.modal#modal-livestock-horse
  .modal-close
  .modal-title Horse Barn
  .modal-content
    img(src='images/horse-barn.jpg')
    each event in events
      if event.tags.indexOf('horse') > -1
        li.table-view-cell(data-reminder='#{event.timestamp}')= event.title

style.
  #modal-livestock-horse .modal-content > img {
    width: 100%;
  }
