.modal#modal-vendor
  .modal-close
  .modal-title Vendor Court
  .modal-content
    img(src='images/food-vendor.jpg')

.modal#modal-food
  .modal-close
  .modal-title Food Court
  .modal-content
    img(src='images/food-court.jpg')

.modal#modal-restroom
  .modal-close
  .modal-title Restroom
  .modal-content
    img(src='images/restroom.png')

style.
  #modal-vendor img,
  #modal-food img,
  #modal-restroom img {
    width: 100%;
  }