.modal#modal-office
  .modal-close
  .modal-title Fair Office
  .modal-content
    p We hope you enjoy your visit and please feel free to call our office for any additional information you may need or to reserve one of our facilities for your special occasion. Office hours are Monday-Friday 8AM-5PM.
    br

    h3 Telephone
    p
      a(href='tel:15415676121') (541)&nbsp;567-6121
      | &nbsp;or&nbsp;toll-free&nbsp;at&nbsp;
      a(href='tel:18007003247') (800)&nbsp;700-3247
    br

    h3 Email
    p
      | We can be reached at 
      a(href='mailto:fair@umatillacounty.net') fair@umatillacounty.net
    br

    h3 Address
    p 515&nbsp;W&nbsp;Orchard&nbsp;Avenue PO&nbsp;BOX&nbsp;94 Hermiston,&nbsp;OR&nbsp;97838
    br

style.
  #modal-office h3 {
    margin-left: .75rem;
  }
