doctype html

html

  head
    title UCF - Admin
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')

  body

    .horizontal.reverse

      ol#items

      form.vertical

        .vertical
          .horizontal
            .vertical.grow
              label Title
              input(name="title")
            .vertical.grow
              label Location
              select(name="location")
                each location in admin.locations
                  option(value='#{location}')= location

        .vertical
          .horizontal.timestamp
            .grow
              label Event Day
              select(name="timestamp_day")
            .grow
              label Start Time
              select(name="timestamp_hour")
            .grow
              label Duration
              select(name="duration")
                option(selected) Unspecified

        .horizontal.wrap
          each tag in admin.tags
            .tag
              input(type="checkbox" name="tags" value='#{tag}' id='tag_#{tag}')
              label(for='tag_#{tag}')= tag

        .action-bar.horizontal.reverse
          button#add(type="button") Add
          button(type="reset") Reset

    .vertical
      label#summary
      textarea#output
      .action-bar.horizontal.reverse
        button#load(type="button") Load


    style.
      @import url(http://fonts.googleapis.com/css?family=Open+Sans);

      .horizontal {
        display: flex;
        flex-direction: row;
      }

      .vertical {
        display: flex;
        flex-direction: column;
      }

      .horizontal.reverse {
        flex-direction: row-reverse;
      }

      .grow {
        flex-grow: 1;
      }

      .wrap {
        flex-wrap: wrap;
      }

      body {
        font-family: 'Open Sans', sans-serif;
      }

      body > * {
        margin: 32px;
      }

      form {
        padding: 16px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.38);
      }

      form > * {
        margin-bottom: 32px;
      }

      form > .vertical:nth-child(1) > .horizontal > .vertical:nth-child(1) {
        padding-right: 16px;
      }

      textarea {
        height: 10em;
      }

      .timestamp .grow:nth-child(2) {
        padding: 0 16px;
      }

      .timestamp select {
        width: 100%;
      }

      .tag {
        width: 50%;
      }

      .action-bar {
        padding-top: 16px;
        margin-bottom: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.16);
      }

      .action-bar button {
        margin-left: 16px;
        padding: 8px 16px;
        border: 1px solid rgba(0, 0, 0, 0.08);
      }

      #items {
        overflow-y: auto;
        width: 600px;
        max-height: 375px;
        margin: 0;
        margin-left: 16px;
        padding: 0;
        list-style-type: none;
      }

      #items > * {
        margin-bottom: 16px;
      }

      #output {
        overflow-x: hidden;
        overflow-y: auto;
        min-width: 10em;
        min-height: 5em;
        border: 1px solid rgba(0, 0, 0, 0.18);
        border-bottom: 0;
      }

    script.

      function addOptions(el, options) {
        for(var i = 0; i < options.length; ++i) {
          var option = document.createElement('option');
          option.setAttribute('value', options[i]);
          option.textContent = options[i];
          el.appendChild(option);
        }
      }

      addOptions(document.querySelector('[name="timestamp_day"]'), Array
        .apply(null, { length: 5 })
        .map(Number.call, Number)
        .map(function (value, index, arr) {
          return ['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][index];
        }))

      addOptions(document.querySelector('[name="timestamp_hour"]'), Array
        .apply(null, { length: 35 })
        .map(Number.call, Number)
        .map(function (value, index, arr) {
          var label, time, result = (value + 14) * 0.5;
          label = result >= 12 ? "PM" : "AM";
          time = ((result >= 13 ? (result - 12) : result) + '').replace('.5', ':30')
          return time + ' ' + label;
        }))

      addOptions(document.querySelector('[name="duration"]'), Array
        .apply(null, { length: 24 })
        .map(Number.call, Number)
        .map(function (value, index, arr) {
          return (value * 0.5) + 1;
        }))

      var items = [];
      function update () {
        console.log(items);
        var target = document.getElementById('items');
        target.innerHTML = '';
        for(var i = 0; i < items.length; ++i) {
          var item = items[i];
          var element = document.createElement("li");
          var extra = item.location + " on " + new Date(item.timestamp).toLocaleString().replace('/2015,', '').replace(':00 ', '');
          element.innerHTML = "<strong>" + item.title + "</strong><div>" + extra + "</div>";
          element.setAttribute("data-index", i);
          element.querySelector("strong").addEventListener('click', function (e) {
            this.parentElement.parentElement.removeChild(this.parentElement);
            items.splice(parseInt(this.getAttribute("data-index")), 1);
            update();
          });
          target.appendChild(element);
        }
        var output = document.getElementById('output');
        output.value = JSON.stringify(items, null, 2);
        var summary = document.getElementById('summary');
        summary.textContent = 'Total items: ' + items.length;
      }

      var elements = document.querySelectorAll('[name]');
      document.getElementById('add').addEventListener('click', function (e) {
        var item = { timestamp: 1439301600000, tags: [] };
        for(var i = 0; i < elements.length; ++i) {
          var element = elements[i];
          switch(element.getAttribute('name')) {
            case 'title': {
              element.focus();
              element.style.backgroundColor = 'inherit';
              if(element.value === '') {
                element.style.backgroundColor = 'rgba(255, 0, 0, 0.1)';
                return;
              }
              item.title = element.value;
              element.value = "";
              break;
            }
            case 'timestamp_day': {
              item.timestamp += 86400000 * element.selectedIndex;
              // element.selectedIndex = 0;
              break;
            }
            case 'timestamp_hour': {
              var halfHour = (3600000 / 2);
              item.timestamp += halfHour * element.selectedIndex;
              // element.selectedIndex = 0;
              break;
            }
            case 'duration': {
              var index = element.selectedIndex;
              if(index > 0)
                item.duration = parseFloat(element.children[index].getAttribute('value'));
              element.selectedIndex = 0;
              break;
            }
            case 'location': {
              var option = element.children[element.selectedIndex];
              item.location = option.getAttribute('value');
              element.selectedIndex = 0;
              break;
            }
            case 'tags': {
              if(element.checked)
                item.tags.push(element.getAttribute("value"));
              element.checked = false;
              break;
            }
          }
        }
        items.push(item);
        update();
        return false;
      });

      document.getElementById('load').addEventListener('click', function (e) {
        var value = document.getElementById("output").value;
        items = JSON.parse(value);
        update();
      });
