section
  h1 Admissions

nav(style='display:none')
  ul
    li
      a(href='#admission') Admission
    li
      a(href='#fairground-access') Fairground Access
    li
      a(href='#main-stage-concerts') Main Stage Concerts
    li
      a(href='#fair-policies') Fair Policies
    li
      a(href='#farm-city-pro-rodeo') Farm City Pro Rodeo
    li
      a(href='#wristbands') Wristbands

section
  a(name='#admission')
  p The Umatilla County Fair Opens at 9:00 AM. Tickets for early entry may be purchased at the Fair Office starting at 7:00 AM, at the Elks Trailer in the Orchard Lot at 5:00 AM or at the Davis Carnival gate at 8:00 AM.
  p Admission tickets / passes, Farm City Pro Rodeo ticket or a daily hand stamp is required for entry and re-entry into the fairgrounds.
  br
  each value, key in pricing.admission
    h4= key
    table.shadow
      each item in value
        each price, desc in item
          tr
            td= desc
            td= price

section
  a(name='#fairground-access')
  h1 Fairground Access
  p Main Entrance is located by the Hermiston Post Office.
  p Orchard Ave. Thompson Hall drive-in delivery gate is open to exhibitors Sunday before Fair and Sunday after Fair and open to vendors for vehicle access during fair until 8:30 AM daily, and during fair for deliveries and pick/ups, no vehicles after 9:00 AM.
  p Orchard Elks parking drive-in, walk-thru gate and Elks Trailer. Open for ticket sales prior to 9:00 AM.
  p Davis Carnival-Highland Entrance Gate, walk-thru only. Open for ticket sales at 8:00 AM.

section
  a(name='#fair-policies')
  h1 Fair Policies
  p The Umatilla County Fair has a NO PET POLICY (does not refer to certified service animals.) Please leave your pet at home.
  blockquote.large TOBACCO PRODUCTS AND/OR SMOKING ARE PROHIBITED ON THE UMATILLA COUNTY FAIRGROUNDS
  p No outside purchased food or drink allowed on fairgrounds.
  p No gate re-entry after ticket booths close.

section
  a(name='#main-stage-concerts')
  include main-stage-concerts

section
  a(name='#farm-city-pro-rodeo')
  include farm-city-pro-rodeo

section
  a(name='#wristbands')
  h1 Wristbands
  table.shadow
    tr
      td Carnival Wristband Tickets
      td= pricing.wristband
  p Good for 1 day, all rides in Carnival.
  p Carnival wristbands DO NOT include Fair admission.
  p Advanced Purchase price will end the day before the start of fair.
  p Advanced Purchase Carnival Wristband Tickets will be available at the Fair Office and at various ticket outlet locations prior to Fair.
  p During Fair, Carnival Wristbands WILL ONLY be available at the Carnival for $30.00.
  p Carnival Rides and Attractions brought to you by Davis Amusement Cascadia.

style.
  #page-admissions > section:first-child > h1:first-child {
    background-color: #D32F2F;
  }
