section
  h1 Directions

section
  h2 East&nbsp;from&nbsp;Portland,&nbsp;OR on&nbsp;Interstate&nbsp;84
  ol
    li Take exit 182 for OR-207 toward Lexington/Hermiston
    li Turn left at Butter Creek Rd/Hermiston Hwy/OR-207 (signs for Hermiston)
    li Continue to follow Hermiston Hwy/OR-207
    li Turn right at West Orchard Avenue
    li Fairgrounds will be on the right
  a.large.btn.shadow(href='#route/portland' target='_blank') View Map

hr

section
  h2 South&nbsp;from&nbsp;Tri&#8209;Cities,&nbsp;WA on&nbsp;Interstate 82&nbsp;(US&#8209;395&nbsp;South) 
  ol
    li Take exit 1 for US-730 E/US-395 toward Hermiston
    li Turn left at US-395/US-730
    li Turn right at OR-395
    li Continue on N 1st St/US-395
    li Turn right at West Orchard Avenue
    li Fairgrounds will be on the left
  a.large.btn.shadow(href='#route/tricities' target='_blank') View Map

hr

section
  h2 West&nbsp;from&nbsp;Pendleton,&nbsp;OR on&nbsp;Interstate&nbsp;84
  ol
    li Take exit 188 for US-395 N toward Stanfield/Hermiston
    li Turn Right at OR-32/US-395 Continue to follow US-395
    li Turn left at West Orchard Avenue 
    li Fairgrounds will be on the left
  a.large.btn.shadow(href='#route/pendleton' target='_blank') View Map

style.
  #page-directions > section:first-child > h1:first-child {
    background-color: #FF6F00;
  }
  #page-directions ol {
    margin: 1rem 0;
    padding: 0 1.5rem;
    font-size: 135%;
    line-height: 130%;
  }
  #page-directions ol > li {
    margin-bottom: 1rem;
  }
  #page-directions .btn {
    width: 10rem;
    margin: 0.5rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
  }

// https://www.google.com/maps/place/Umatilla+County+Fairgrounds/@45.8384882,-119.294962,17z/data=!3m1!4b1!4m2!3m1!1s0x54a2b9049d5338a3:0x345a5955621704d1