section
  h1 Entertainment
  p.centered.large All Shows Start at 9:00 PM
  p
    | Reserved Seating tickets are on sale in the Fair Office for 
    strong= pricing.reservedSeating
    |  each.
  p Seating is limited. General seating included with price of admission.

each event, id in entertainment
  each occurence, title in event
    section
      h3= occurence
      .event.shadow(style='background-image: url(images/entertainment#{id+1}.jpg)')
        h2= title

style.
  #page-entertainment > section:first-child > h1:first-child {
    background-color: #512DA8;
  }
  #page-entertainment .centered {
    margin: 1rem 0;
  }
  #page-entertainment .event {
    position: relative;
    height: 20vh;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
  }

  #page-entertainment h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 1vh;
    letter-spacing: -0.05rem;
    /* font-size: 6vw; */
    background-color: rgba(255, 255, 255, 0.95);
  }

  #page-entertainment h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }