section
  h1 Events and Activities

each event in events
  section
    h3= event.title
    p.timestamp(data-json="#{event.timestamp}")
    p.location= (locations[event.location] || { name: event.location}).name
    if event.banner
      .banner(style='background-image: url(images/#{event.banner})')

script.
  var i;

  var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
  var timestamps = document.querySelectorAll('.timestamp[data-json]');
  for(i = 0; i < timestamps.length; ++i) {
    var timestamp = timestamps[i]
      , date = new Date(parseInt(timestamp.getAttribute('data-json')))
      , day = days[date.getDay()]
      , time = (date.getHours() > 12 ? date.getHours() - 12 : date.getHours()) + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes() + ' ' + (date.getHours() >= 12 ? 'PM' : 'AM')
      , eh = 'th';
    if(date.getDate() === 1) eh = 'st';
    if(date.getDate() === 2) eh = 'nd';
    if(date.getDate() === 3) eh = 'rd';
    timestamp.textContent = time;
    timestamp.removeAttribute('data-json');
    if(document.querySelector('.day' + date.getDate()))
      continue;
    var header = document.createElement('div');
    header.classList.add('header');
    header.classList.add('day' + date.getDate());
    header.textContent = day + ', Aug ' + date.getDate() + eh;
    timestamp.parentNode.parentNode.insertBefore(header, timestamp.parentNode);
  }

style.
  #page-events > section:first-child > h1:first-child {
    background-color: #0288D1;
  }
  #page-events .header {
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: #001F3F;
    color: white;
  }
  #page-events section:not(:first-child) {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    text-indent: 0.5rem;
  }
  #page-events section h3 {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    text-indent: 0;
  }
  #page-events section p {
    padding: 0;
  }
  #page-events section .timestamp {
    float: right;
    margin-right: 0.5rem;
  }
  #page-events section .banner {
    height: 25vh;
    margin: 1vh auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
