h1 Farm City Pro Rodeo
img(src='images/event4.jpg' hidden)
p Rodeo Tickets include your Fair admission for the day listed on your ticket.
p Children 12 and under discount available for Wednesday night only.
table.shadow
  each price, desc in pricing.farmCity
    tr
      td= desc
      td= price
p For Reserved or Box Seats please contact the Farm City Pro Rodeo Office at 
  a(href='tel:15415648500') (541) 564-8500
  |  or visit Barnett and Moro at 495 E Main Street, Hermiston, OR 97838.

style.
  #page-rodeo > section:first-child > h1:first-child {
    background-color: rgb(183, 85, 10);
  }
  #page-rodeo img {
    display: inherit !important;
    width: 100%;
    margin: 0.5rem 0;
  }
