doctype html
html

  head
    title= title + ' ' + year
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='msapplication-tap-highlight' content='no')
    meta(name='format-detection' content='telephone=no')
    link(rel='stylesheet', href='reset.css')
    link(rel='stylesheet', href='styles.css')

  body.loading

    #skin
      #container
        #splash Loading
        article#page-main(hidden)
          include main
        article#page-map(hidden)
          include map
        article#page-events(hidden)
          include events
        article#page-entertainment(hidden).padded
          include entertainment
        article#page-admissions(hidden).padded
          include admissions
        article#page-directions(hidden).padded
          include directions
        article#page-rodeo(hidden).padded
          section
            include farm-city-pro-rodeo
        article#page-parking(hidden).padded
          include parking
        include modal/charge
        include modal/livestock
        include modal/office
        include modal/misc
      a(href='https://www.cayusetechnologies.com' title='Visit CayuseTechnologies.com')

    // -.not-supported
    // -  p This page is designed to operate best in portrait mode. Please rotate your device to see information.
    // -  br
    // -  a.btn.large.shadow(onclick="window.open('http://www.cayusetechnologies.com/apps/ucf/other-devices/index.html', document.title, 'width=610,height=830,scrollbars=yes')") Open in new window

    script(src='scripts.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53517505-1', 'auto'); ga('send', 'pageview');
      (window.onresize = function (aspectRatio) {
        return function () {
          if('resizeMap' in window)
            window.resizeMap();
          console.log();
          var hasPhone = window.innerWidth / window.innerHeight >= .80;
          var container = document.getElementById('container');
          container.style.width = hasPhone ? (window.innerHeight * aspectRatio) + 'px' : 'auto';
        };
      }(0.37))();