h1 Main&nbsp;Stage&nbsp;Concerts
p General seating (Free with purchase of your Fair Admission Ticket/ Gate Pass)
table.shadow
  tr
    td Reserved Seating Ticket
    td= pricing.reservedSeating
p Fair Admission not included with Reserved Seating Tickets
