a.kenburns(href="#events" data-delay="5000")
  img(src="images/event4.jpg")
  img(src="images/event2.jpg")
  img(src="images/event1.jpg")
  img(src="images/event3.jpg")
  img(src="images/event5.jpg")
  h1.label.bottom Events and Activities

a.kenburns(href="#entertainment" data-delay="6000")
  img(src="images/entertainment1.jpg")
  img(src="images/entertainment3.jpg")
  img(src="images/entertainment2.jpg")
  img(src="images/entertainment4.jpg")
  h1.label.bottom Entertainment

a.kenburns(href="#map" data-delay="5500")
  img(src="images/fair1.jpg")
  img(src="images/fair3.jpg")
  img(src="images/fair2.jpg")
  img(src="images/fair4.jpg")
  img(src="images/ride2.jpg")
  img(src="images/fair5.jpg")
  img(src="images/fair6.jpg")
  img(src="images/ride3.jpg")
  h2.label.bottom Fair Map

a(href="#admissions")
  img(src="images/ticketbooth.jpg")
  h1.label.bottom Admissions

a(href="#directions")
  img(src="images/directions.png")
  h2.label.bottom Directions
