section
  h1 Fairground Map
#wrapper
  #scroller
    #map
      .markers

style.
  #page-map > section {
    z-index: 3;
  }
  #page-map > section:first-child > h1:first-child {
    background-color: #388E3C;
  }
