section
  h1 Parking
  table.shadow
    tr
      td Season Parking Passes
      td= pricing.seasonParking
  p A limited number of Season Parking Passes are available for purchase at Fair Office.
  p Season Parking passes are valid for the duration of the fair only (Tuesday-Saturday) and must behung from your rearview mirror and facing your windshield at all times. Pass holders must park in designated Pass Holder parking lot(s)/spaces only.
  table.shadow
    tr
      td Daily paid parking
      td= pricing.dailyParking
  p Price for all lots. Daily parking must be purchased from lot attendant.
  p Camping and empty trailer storage is not permitted in the parking lots. Please see the Fair Office for a trailer parking pass for a different lot, or for a camping application if needed.
  p Please note that parking is on a first come first serve basis. A parking pass does not guarantee a parking space for your vehicle. Lots will fill up.
  blockquote.large NO PARKING ON SOUTH SIDE OF ORCHARD AVENUE ALONG FAIRGROUNDS PROPERTY

style.
  #page-parking > section:first-child > h1:first-child {
    background-color: #009C8F;
  }
