@media screen and (min-aspect-ratio: 80/100) {

  html {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/phone/glass-blur.jpg);
  }

  body {
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    perspective: 1000px;
  }

  #skin {
    position: relative;
    width: 100%;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/phone/skin.png);
    transition: transform .8s;
    transform-style: preserve-3d;
    transform-origin: bottom center;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; /* again */
  }

  body.loading #skin {
    transform: translateY(-100vw) rotateX(70deg) rotateY(0deg);
  }

  body:not(.loading) #skin {
    transform: none;
  }

  #container {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 60.9vh;
    margin: 0 auto;
    background-color: black;
    transform: translateY(9.1vh);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000px;
  }

}

#skin > a {
  display: block;
  width: 6vw;
  height: 8vh;
  margin: 9.5vh auto;
}