@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSans-Regular.ttf) format('truetype');
}

body {
  font-family: 'Noto Sans', sans-serif;
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.12rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal;
  line-height: 120%;
}

.small {
  font-size: 80%;
}

.large {
  font-size: 120%;
}

.centered {
  text-align: center;
}
