.kenburns {
  position: relative;
  overflow: hidden;
}

.kenburns img {
  z-index: -1;
  position: absolute;
  height: auto;
  width: 110%;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  margin-top: -35%;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 3s, 10s;
     -moz-transition-property: opacity, -moz-transform;
     -moz-transition-duration: 3s, 10s;
      -ms-transition-property: opacity, -ms-transform;
      -ms-transition-duration: 3s, 10s;
       -o-transition-property: opacity, -o-transform;
       -o-transition-duration: 3s, 10s;
          transition-property: opacity, transform;
          transition-duration: 3s, 10s;
}

.kenburns img  {
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

.kenburns :nth-child(2n+1) {
  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;
}

.kenburns :nth-child(3n+1) {
  -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
      -ms-transform-origin: top left;
       -o-transform-origin: top left;
          transform-origin: top left;
}

.kenburns :nth-child(4n+1) {
  -webkit-transform-origin: bottom right;
     -moz-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
       -o-transform-origin: bottom right;
          transform-origin: bottom right;
}

.kenburns .fx:first-child + img ~ img  {
  z-index: -1;
}

.kenburns .fx {
  z-index: 1;
  opacity: 1;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}