#page-main a {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 34%;
  cursor: pointer;
/*
  position: relative;
  display: block;
  overflow: hidden;
  height: 32.5vh;
  margin-bottom: .6vh;
*/
}

#page-main a img {
  width: 100%;
}

#page-main a .label {
  z-index: 2;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 200%;
  line-height: 200%;
  text-align: center;
  letter-spacing: -0.1rem;
  background-color: rgba(255, 255, 255, 0.8);
/*
  z-index: 2;
  position: absolute;
  display: block;
  height: 3.5rem;
  font-size: 1.5rem;
  line-height: 3.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
*/
}

#page-main a[href="#events"] {
  width: 100%;
  top: 0%;
}
#page-main a[href="#events"] .label {
  background-color: #0288D1;
}

#page-main a[href="#map"] {
  top: 32%;
  width: 42%;
}
#page-main a[href="#map"] img {
  top: 23%;
  width: 150%;
}
#page-main a[href="#map"] .label {
  background-color: #388E3C;
}

#page-main a[href="#entertainment"] {
  top: 32%;
  right: 0%;
  width: 58%;
}
#page-main a[href="#entertainment"] img {
  top: 33%;
  width: 140%;
  margin-left: -64%;
}
#page-main a[href="#entertainment"] .label {
  background-color: #512DA8;
}

#page-main a[href="#directions"] {
  top: 66%;
  width: 55%;
  height: 34%;
}
#page-main a[href="#directions"] .label {
  background-color: #FF6F00;
}

#page-main a[href="#admissions"] {
  top: 66%;
  right: 0%;
  width: 45%;
}
#page-main a[href="#admissions"] img {
  width: 120%;
}
#page-main a[href="#admissions"] .label {
  background-color: #D32F2F;
}
