body:before {
  display:none;
  content: url(images/icons.png);
}
body:after {
  display:none;
  content: url(images/map-satellite.jpg);
}

#wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#scroller {
  float: left;
  height: 100%;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(images/map-satellite.jpg);
}

#map .markers {
  float: left;
  width: 100%;
  height: 100%;
}

#map .markers > * {
  float: left;
  position: absolute;
  overflow: hidden;
  width: 55px;
  height: 55px;
  margin-top: 2%;
  margin-left: 1%;
  border-radius: 50%;
  box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.32);
  cursor: pointer;
}

/*
#map .markers .sprite {
  margin-top: -10px;
}
*/

.bar-tab {
  height: 76px;
  bottom: -4px;
  padding-left: 2%;
  border: 0;
}

.sprite {
  display: block;
  zoom: 0.75;
  background-repeat: no-repeat;
  background-image: url(images/icons.png);
}

.sprite-battery {
  width: 76px;
  height: 76px;
  background-image: url(images/charge.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sprite-clock {
  width: 76px;
  height: 76px;
  background-position: 0 -55px;
}

.sprite-food {
  width: 76px;
  height: 76px;
  background-position: 0 -113px;
  background-color: #C5CAE9;
}

.sprite-restroom {
  width: 76px;
  height: 76px;
  background-position: 0 -168px;
  background-color: #FCE4EC;
}

.sprite-music {
  width: 76px;
  height: 76px;
  background-position: 0 -225px;
  background-color: #E1BEE7;
}

.sprite-paw {
  width: 76px;
  height: 76px;
  background-position: 0 -281px;
  background-color: #B2DFDB;
}

.sprite-car {
  width: 76px;
  height: 76px;
  background-position: 0 -337px;
  background-color: #C8E6C9;
}

.sprite-bronco {
  width: 76px;
  height: 76px;
  background-position: 0 -385px;
  background-color: #FFF;
}

.sprite-horse {
  width: 76px;
  height: 76px;
  background-position: 0 -436px;
  background-color: #FFCDD2;
}

.sprite-enterance {
  width: 76px;
  height: 76px;
  background-position: 0 -488px;
  background-color: #D7CCC8;
}

.sprite-vendor {
  width: 76px;
  height: 76px;
  background-position: 0 -540px;
  background-color: #C5CAE9;
}

.sprite-help {
  width: 76px;
  height: 76px;
  background-position: 0 -595px;
  background-color: #CFD8DC;
}
