.modal {
  z-index: 2;
  position: fixed;
  top: 15%;
  left: 2%;
  right: 2%;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
  padding: 2%;
  transition: all 0.3s ease;
  border: 0.2rem solid #E65100;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.95);
  pointer-events: none;
}

.modal.opened {
  opacity: 1;
  pointer-events: auto;
}

.modal .modal-close {
  float: right;
  display: inline-block;
  font-size: 2rem;
  color: #E65100;
  cursor: pointer;
}

.modal .modal-title {
  font-size: 1.2rem;
  white-space: nowrap;
  color: #E65100;
}

.modal .modal-close:before {
  display: inline-block;
  content: '×';
}

.modal .modal-content {
  width: 100%;
  height: 100%;
  margin-top: 4%;
}

.modal .modal-content p {
  padding: 0.75em;
  padding-bottom: 0;
  color: black;
}

.modal .modal-content label {
  display: block;
  font-size: 18px;
  color: #777;
}
