* {
  -webkit-touch-callout: none; 
  -webkit-text-size-adjust: none; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-touch-action: none;
}

body {
  background-color: #F5F5F5;
  font-size: 1.4vh;
  line-height: 125%;
}

img {
  border: 0;
}

[hidden] {
  display: none !important;
}

blockquote {
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-left: 0.2em solid #E29C00;
}

table {
  width: 96%;
  margin: 0 2%;
  padding: 0 0.2rem;
  border-collapse: separate;
  border-spacing: 0 0.2rem;
  background-color: #FFF;
}

table tr {
  background-color: #E3F2FD;
}

table td {
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  font-size: 110%;
}

article {
  background-color: white;
}

article.padded {
  padding: 4%;
}

article:not(#page-map) > section:first-of-type {
  padding-top: 4rem;
}

article > section:first-of-type > h1:first-of-type {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: .8rem;
  font-size: 1.6rem;
  letter-spacing: -0.05rem;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

article > section:first-of-type > h1:first-of-type:before {
  float: left;
  display: block;
  margin-right: 1rem;
  font-size: 2rem;
  content: '‹';
}

section > h1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

section > p {
  padding: 0 0.5rem;
}

section > table {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

hr {
  margin: 2em 0;
  border: 0.1em solid rgba(0, 0, 0, 0.1);
}

article section p {
  margin-bottom: 1vh;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #001F3F;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,0.15), 2px 0 rgba(0,0,0,0.03), 4px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
}

a[href^='tel:'] {
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background-color: #003754;
  background-image: url(images/phone.png);
  background-size: 10%;
  background-position-x: 10%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  text-decoration: none;
  text-indent: 1.5rem;
  color: white;
}

a[href^='mailto:'] {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background-color: #003754;
  background-image: url(images/email.png);
  background-size: 8%;
  background-position-x: 7%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  text-decoration: none;
  text-indent: 1.5rem;
  color: white;
}