/*
html .not-supported {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; left: 0;
  width: 100%; height: 100%;
  text-align: center;
  margin-top: 20vh;
}

html .not-supported a {
  cursor: pointer;
}

@media not screen and (min-aspect-ratio: 27/50) {
  body > :not(.not-supported) {
    display: none;
  }
  html .not-supported {
    display: block;
  }
}

@media screen and (min-aspect-ratio: 97/100) {
  body > :not(.not-supported) {
    display: none;
  }
  html .not-supported {
    display: block;
  }
}
*/
body.with-toolbar > article {
  padding-top: 2.5rem !important;
}

body.with-toolbar .faux-toolbar {
  display: inherit !important;
  height: 3rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.faux-toolbar .back {
  float: left;
  margin-right: 2rem;
  padding-top: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.faux-toolbar .title {
  width: 100%;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: right;
}