#splash {
  float: left;
  z-index: 3;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  background-image: url(images/logo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FFF;
  font-size: 2rem;
  text-align: center;
  transform-origin: left center;
  transition: transform .4s;
}

body.loading #splash {
  transform: none;
}

body.ready #splash {
  transform: rotateY(110deg);
}
